HexagonalMapBasic.xcodeproj/xcuserdata/mrommel.xcuserdatad/xcschemes/HexagonalMapBasic.xcscheme
HexagonalMapBasic.xcodeproj/xcuserdata/mrommel.xcuserdatad/xcschemes/xcschememanagement.plist
HexagonalMapBasic.xcworkspace/xcuserdata/mrommel.xcuserdatad/UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist
xml_report
